[submodule "wildcat.pytorch"]
	path = wildcat.pytorch
	url = https://github.com/pyushkevich/wildcat.pytorch.git
[submodule "deepcluster"]
	path = deepcluster
	url = https://github.com/facebookresearch/deepcluster
