[submodule "wildcat.pytorch"]
	path = wildcat.pytorch
	url = https://github.com/pyushkevich/wildcat.pytorch.git
[submodule "deepcluster"]
	path = tangle_cnn/deepcluster
	url = https://github.com/facebookresearch/deepcluster
[submodule "wildcat_pytorch"]
	path = tangle_cnn/wildcat_pytorch
	url = https://github.com/pyushkevich/wildcat.pytorch.git
